@media (min-width: 480px) {

	.col {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto 25px;
	}

	.logo {
	padding: 30px 15px;
	justify-content: center;
	display: flex;
	}

	.logo h1 {
	display: inline-flex;
	text-transform: uppercase;
	border-bottom: solid 4px #4e5a62;
	color: #fff;
	}

	h3 {
		font-size: 16px;
	}
	
	

	.content-box {
		margin-bottom: 40px;
	}
}

@media (min-width: 768px) {

	.logo {
		display: block;
	}

	h1 {
		font-size: 30px;
	}

	h3 {
		font-size: 11.5px;
	}

	.content-box {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -10px 40px 0;
	
	}
	
	.col {
		width: 33%;
		padding: 0 10px;
	}
	

	
}

@media (min-width: 1024px) {

	.content-box {
		margin: 0 -15px 60px 0;
	}


	.logo h1{
		padding-left: 20px;
		border-bottom: none;
		border-left: solid 10px #4e5a62;
		justify-content: flex-start;
	}

	h3 {
		font-size: 18px;
	}

	

}